<h1><%= title %></h1>

<div id="frame" class="clearfix">


	<section class="clearfix">
		<div id="tags">
			<button>Bloomberg</button>
			<button>Financial Times</button>
			<button>David Cameron</button>
		</div>
		<div class="conversation social clearfix">
			<h2>Social media</h2>
			<article class="twitter feature">
				<img src="https://twimg0-a.akamaihd.net/profile_images/1606145180/Avatar_normal.jpg" />
				<p class="username">Wilson Page @WilsonPage</p>
				<p class="date">11:44pm, 21st May 2012</p>
				<p class="message">Google Chrome overtakes Internet Explorer as the Web’s most used browser http://tnw.to/1EUZL via @TNWgoogle</p>
			</article>
			<article class="twitter">
				<img src="https://twimg0-a.akamaihd.net/profile_images/1606145180/Avatar_normal.jpg" />
				<p class="username">Wilson Page @WilsonPage</p>
				<p class="date">11:44pm, 21st May 2012</p>
				<p class="message">Google Chrome overtakes Internet Explorer as the Web’s most used browser http://tnw.to/1EUZL via @TNWgoogle</p>
			</article>
			<article class="facebook">
				<img src="https://twimg0-a.akamaihd.net/profile_images/1606145180/Avatar_normal.jpg" />
				<p class="username">Wilson Page @WilsonPage</p>
				<p class="date">11:44pm, 21st May 2012</p>
				<p class="message">Google Chrome overtakes Internet Explorer as the Web’s most used browser http://tnw.to/1EUZL via @TNWgoogle</p>
			</article>
		</div>

		<div class="conversation ft clearfix">
			<h2>FT articles</h2>
			<article class="feature">
				<img src="http://im.media.ft.com/content/images/82321f90-9eba-11e1-a767-00144feabdc0.img" />
				<p class="title">Stocks slide as EU summit hopes fade</p>
				<p class="date">11:44pm, 21st May 2012</p>
				<p class="message">Euro drops to 21-month lows against dollar</p>
			</article>
		</div>
	</section>

	<section class="clearfix">
		<div id="tags">
			<button>Bloomberg</button>
			<button>Financial Times</button>
			<button>David Cameron</button>
		</div>
		<div class="conversation social clearfix">
			<h2>Social media</h2>
			<article class="twitter feature">
				<img src="https://twimg0-a.akamaihd.net/profile_images/1606145180/Avatar_normal.jpg" />
				<p class="username">Wilson Page @WilsonPage</p>
				<p class="date">11:44pm, 21st May 2012</p>
				<p class="message">Google Chrome overtakes Internet Explorer as the Web’s most used browser http://tnw.to/1EUZL via @TNWgoogle</p>
			</article>
			<article class="twitter">
				<img src="https://twimg0-a.akamaihd.net/profile_images/1606145180/Avatar_normal.jpg" />
				<p class="username">Wilson Page @WilsonPage</p>
				<p class="date">11:44pm, 21st May 2012</p>
				<p class="message">Google Chrome overtakes Internet Explorer as the Web’s most used browser http://tnw.to/1EUZL via @TNWgoogle</p>
			</article>
			<article class="facebook">
				<img src="https://twimg0-a.akamaihd.net/profile_images/1606145180/Avatar_normal.jpg" />
				<p class="username">Wilson Page @WilsonPage</p>
				<p class="date">11:44pm, 21st May 2012</p>
				<p class="message">Google Chrome overtakes Internet Explorer as the Web’s most used browser http://tnw.to/1EUZL via @TNWgoogle</p>
			</article>
		</div>

		<div class="conversation ft clearfix">
			<h2>FT articles</h2>
			<article class="feature">
				<img src="http://im.media.ft.com/content/images/82321f90-9eba-11e1-a767-00144feabdc0.img" />
				<p class="title">Stocks slide as EU summit hopes fade</p>
				<p class="date">11:44pm, 21st May 2012</p>
				<p class="message">Euro drops to 21-month lows against dollar</p>
			</article>
		</div>
	</section>

	<section class="clearfix">
		<div id="tags">
			<button>Bloomberg</button>
			<button>Financial Times</button>
			<button>David Cameron</button>
		</div>
		<div class="conversation social clearfix">
			<h2>Social media</h2>
			<article class="twitter feature">
				<img src="https://twimg0-a.akamaihd.net/profile_images/1606145180/Avatar_normal.jpg" />
				<p class="username">Wilson Page @WilsonPage</p>
				<p class="date">11:44pm, 21st May 2012</p>
				<p class="message">Google Chrome overtakes Internet Explorer as the Web’s most used browser http://tnw.to/1EUZL via @TNWgoogle</p>
			</article>
			<article class="twitter">
				<img src="https://twimg0-a.akamaihd.net/profile_images/1606145180/Avatar_normal.jpg" />
				<p class="username">Wilson Page @WilsonPage</p>
				<p class="date">11:44pm, 21st May 2012</p>
				<p class="message">Google Chrome overtakes Internet Explorer as the Web’s most used browser http://tnw.to/1EUZL via @TNWgoogle</p>
			</article>
			<article class="facebook">
				<img src="https://twimg0-a.akamaihd.net/profile_images/1606145180/Avatar_normal.jpg" />
				<p class="username">Wilson Page @WilsonPage</p>
				<p class="date">11:44pm, 21st May 2012</p>
				<p class="message">Google Chrome overtakes Internet Explorer as the Web’s most used browser http://tnw.to/1EUZL via @TNWgoogle</p>
			</article>
		</div>

		<div class="conversation ft clearfix">
			<h2>FT articles</h2>
			<article class="feature">
				<img src="http://im.media.ft.com/content/images/82321f90-9eba-11e1-a767-00144feabdc0.img" />
				<p class="title">Stocks slide as EU summit hopes fade</p>
				<p class="date">11:44pm, 21st May 2012</p>
				<p class="message">Euro drops to 21-month lows against dollar</p>
			</article>
		</div>
	</section>


	<div id="js-templates" style="display: none;">
		<%= %>
	</div>
</div>