<header class="app-header">
	<div>
		<h1><%= title %></h1>
		<div class="slogan">Making sense of what's happening now</div>
	</div>
</header>

<div class="app-content">
	<ul class="conversation-list clearfix" id="js-conversation-list"></ul>
</div>

<footer class="app-footer">
	<div></div>
</footer>