<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/static/css/style.css' />
  </head>
  <body>
    <%- body %>
    <script data-main="/static/js/app/main" src="/static/js/libs/require/require.js"></script>
  </body>
</html>